/* reset */


body {
  color: #333;
}

a {
  color: inherit;
}

li {
  list-style: none;
}

:placeholder-shown {
  color: #ccc;
}

::-webkit-input-placeholder {
  color: #ccc;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: #f7f7f7;
}

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0;
  /* background-color: #f7f7f7; */
  color: #333;
  font-family: 'Roboto', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  overflow-y: scroll;
}
pre, textarea {
  overflow: auto;
}

[hidden], audio:not([controls]), template {
  display: none;
}

details, main, summary {
  display: block;
}

input[type=number] {
  width: auto;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

progress {
  display: inline-block;
}

small {
  font-size: 75%;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  resize: vertical;
}

[unselectable] {
  -webkit-user-select: none;
  user-select: none;
}

*, ::after, ::before {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
}

* {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

::after, ::before {
  text-decoration: inherit;
  vertical-align: inherit;
}

:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  cursor: default;
}

button {
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    text-align: left;
    line-height: inherit;
}

button:focus, a:focus, input:focus, details:focus, summary:focus {
    outline: 0;
    box-shadow: none;
}

li {
    list-style: none;
}

summary {
    display: block;
    list-style: none;
}
  
summary::-webkit-details-marker {
    display:none;
}

a {
    color: #1b7bb4;
    text-decoration: none;
}

/* reset */



.l-body {
    /* background: #8CBCDF; */
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-wrap: break-word;
    white-space: normal;
    overflow-y: scroll;
    position: relative;
    color: #333;
}

.l-main {
    background: #FBF8F3;
}

.kv {
    padding: 140px 20px 70px;
    background: #FBF8F3;
    position: relative;
}

.sushi {
    position: absolute;
    top: 38px;
    right: 30px;
}

h1 {
    font-family: 'Geologica', sans-serif;
    font-weight: bold;
    font-size: 58px;
    line-height: 58px;
    margin-bottom: 15px;
}

.kv p{
    font-weight: bold;
    color: #E56F8B;
    font-size: 32px;
    padding-bottom: 40px;
    font-family: 'Nanum Gothic', sans-serif;
}

.toc {
    width: calc(100% - 50px);
    padding: 5px 0;
    background: #fff;
    border-radius: 30px;
    position: absolute;
    bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.toc.is-on {
    display: block;
    position: fixed;
    top: 10px;
    bottom: auto;
    z-index: 2;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.toc_wrap {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 0 2%;
    margin: 0;
}

.toc_btn {
    color: #333;
    width: 20%;
    padding: 10px 0 7px;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    position: relative;
}

.toc_btn a {
    color: #767676;
    display: block;
}

.toc_btn.is-on a {
    color: #E56F8B;
}

.toc_btn.is-on ::before {
    content: '';
    background: #F585A0;
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 4px 4px 0 0;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.toc_week {
    font-weight: normal;
    font-size: 13px;
    margin-left: 3px;
}

.schedule {
    /* background: linear-gradient(150deg, #F9D7E7 20%, #F8ABA6 90%); */
}

.c-sec {
    width: 100%;
    padding: 80px 0;
    /* font-family: 'Zen Kaku Gothic New', sans-serif; */
    /* letter-spacing: 1px; */
    border-radius: 90px 0 90px 0;
    position: relative;
}

.c-sec.c-sec_25 {
    background: #5CD6CD;
}

.c-sec.c-sec_26 {
    background: #A4E076;
}

.c-sec.c-sec_27 {
    background: #F6E968;
}

.c-sec + .c-sec {
    margin-top: 80px;
}

.c-sec_paper {
    position: absolute;
    opacity: .2;
    border-radius: 90px 0 90px 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(paper.png);
}

.c-sec_paper img {
    border-radius: 90px 0 90px 0;
}

.c-sec h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0 30px;
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    z-index: 1;
}

.c-sec_week {
    font-size: 22px;
    font-weight: normal;
    margin-left: 7px;
}

.c-tl {
    margin: 30px 30px 0 60px;
    padding: 0;
    position: relative;
    z-index: 1;
}

.c-tl::before {
    content: '';
    display: block;
    position: absolute;
    height: calc(100% - 60px);
    width: 2px;
    background: #FBF8F3;
    top: 37px;
    left: -24px;
}

.c-sec_27 .c-tl::before {
    top: 34px;
}

.c-event_wrap {
    margin-bottom: 10px;
    position: relative;
    transition: .2s ease-out;
}

.c-event_wrap::before {
    content: '';
    display: block;
    position: absolute;
    background: #FBF8F3;
    height: 12px;
    width: 12px;
    border-radius: 7px;
    left: -29px;
    top: 35px;
}

.c-event_wrap.thin::before {
    top: 22px;
}

.c-event {
    display: block;
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    position: relative;
    transition: .2s ease-out;
}

.c-event_ttl {
    display: block;
    position: relative;
}

.c-event_time {
    font-size: 14px;
    color: #767676;
}

.c-event_txt {
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.c-event_toggle {
    /* position: absolute; */
    /* right: 10px; */
}

.c-event_toggle::before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: solid 2px #777;
    border-right: solid 2px #777;
    position: absolute;
    right: 5px;
    top: calc(50% - 7px);
    transform: rotate(135deg);
    transition: .2s ease-out;
}

details[open] .c-event_toggle::before {
    transform: rotate(-45deg);
    transition: .2s ease-out;
}

.c-event_detail {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}

.c-event_detail li {
    position: relative;
    padding-left: 9px;
    margin-left: 10px;
}
.c-event_detail li::before {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    background: #777;
    border-radius: 5px;
    top: 7px;
    left: 0;
}

.c-img_wrap {
    margin: 20px;
    text-align: center;
}

.footer {
    background: #FBF8F3;
    color: #707070;
    font-size: 11px;
    text-align: center;
    margin: 30px auto 20px;
}
