/* reset */

button {
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    text-align: left;
    line-height: inherit;
}

button:focus, a:focus, input:focus, details:focus, summary:focus {
    outline: 0;
    box-shadow: none;
}

li {
    list-style: none;
}

summary {
    display: block;
    list-style: none;
}
  
summary::-webkit-details-marker {
    display:none;
}

/* reset */



.l-body {
    background: #8CBCDF;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-wrap: break-word;
    white-space: normal;
    overflow-y: scroll;
    position: relative;
    color: #333;
}

h1 {
    color: green;
}

.l-main {
    /* background: #f7f7f7; */
    /* font-weight: bold; */
}

.kv {
    margin: auto 30px;
}

.kv p{
    font-weight: bold;
    color: #333;
    font-size: 32px;
}

.toc_wrap {
    display: flex;
    gap: 12px;
    margin: 0 30px 40px;
    padding: 0;
}

.toc_btn {
    background: #fff;
    border-radius: 50px;
    padding: 22px 17px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.toc_btn:active {
    background: #5296C8;
    transition: .1s ease-out;
}

.toc_week {
    font-weight: normal;
    font-size: 17px;
    display: block;
}

.c-sec {
    background: #F9D7E7;
    border-radius: 40px;
    width: 100%;
    padding-top: 40px;
}

.c-sec h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0 30px;
}

.c-sec_week {
    font-size: 22px;
    font-weight: normal;
    margin-left: 10px;
}

.c-tl {
    margin: 30px 30px 0 60px;
    padding: 0;
    position: relative;
}

.c-tl::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 2px;
    background: #4BA8DF;
    top: 37px;
    left: -24px;
}

.c-event_wrap {
    margin-bottom: 10px;
    position: relative;
}

.c-event_wrap::before {
    content: '';
    display: block;
    position: absolute;
    background: #4BA8DF;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    left: -30px;
    top: 34px;
    /* bottom: 0; */
}

.c-event {
    display: block;
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    position: relative;
    /* transition: .2s ease-out; */
}

.c-event_time {
    font-size: 14px;
    color: #555;
}

.c-event_txt {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.c-event_toggle {
    /* position: absolute; */
    /* right: 10px; */
}

.c-event_toggle::before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: solid 2px #5070e3;
    border-right: solid 2px #5070e3;
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
    transform: rotate(135deg);
    transition: .2s ease-out;
}

details[open] .c-event_toggle::before {
    transform: rotate(-45deg);
    transition: .2s ease-out;
}

.c-event_detail {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}
