.l-body {
    background: #8CBCDF;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* font-family: ; */
    overflow-wrap: break-word;
    white-space: normal;
    overflow-y: scroll;
    position: relative;
    color: #333;
}

h1 {
    color: green;
}

.l-main {
    /* background: #f7f7f7; */
    /* font-weight: bold; */
}

.kv {
    margin: auto 30px;
}

.kv p{
    font-weight: bold;
    color: #333;
    font-size: 32px;
}

.toc_wrap {
    display: flex;
    gap: 12px;
}

.toc_btn {
    list-style: none;
    background: #fff;
    border-radius: 50px;
    padding: 22px 17px;
    font-weight: bold;
    font-size: 20px;
}

.toc_week {
    font-weight: normal;
    font-size: 17px;
    display: block;
}

.c-sec {
    background: #F9D7E7;
    border-radius: 40px;
    width: 100%;
}
